body {
  font-family: cambria, sans-serif;
  background-color: rgb(39,40,34);
  margin: 0px;
}

nav {
  display: block;
  position: absolute;
  top: 30%;
  background-color: rgb(185,17,17);
  animation-name: menuclose;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes menu {
    0%   {width: 5%;}
    100% {width: 15%;}
}

@keyframes menuclose {
    0%   {width: 15%;}
    100% {width: 5%;}
}

nav:hover {
  animation-name: menu;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div {
  width: 70%;
}

header img {
  height: 200px;
  display: block;
  margin: auto;
}

@keyframes menuul {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes menuulclose {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

.sn {
  color: #333131;
}

.sn:hover {
  color : rgb(185,17,17);
}

@keyframes menutitleopen {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes menutitleclose {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

nav > #menutitre {
  position: absolute;
  top: 42%;
  color: white;
  font-variant: small-caps;
  transform:rotateZ(90deg);
  font-size: 1.5em;
  animation-name: menutitleclose;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

nav:hover > #menutitre {
  animation-name: menutitleopen;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

nav > ul {
  display: inline-block;
  animation-name: menuulclose;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

nav:hover > ul {
  animation-name: menuul;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

li {
  list-style-type: none;
  padding: 10px;
}

li a {
  color: white;
  padding: 10px;
}

li a:hover {
    text-decoration: none;
    color: rgb(185,17,17);
    background-color: white;
}

.bold_announcement {
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  font-variant: small-caps;
}

.team {
  width: 60%;
  margin: auto;
}

.team .row {
  width: 100%;
}

.floating {
  display: inline-block;
  vertical-align: middle;
}

article p {
  text-align: center;
}

article iframe {
  display: block;
  margin: auto;
}

.bigger {
  font-size: 1.5em;
}

.alwaysbottom {
  position: fixed;
  bottom: 0px;
}

footer {
  width: 100%;
  padding: 0px;
  background-color: black;
  padding-top : 5px;
  margin-top: 30px;
  padding-bottom: 5px;
}

footer p {
  color: white;
  text-align: center;
}
